.container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
    align-items: center;
}
@media screen and (min-width:450px){
    .container{
        flex-direction: row;
    }
}