.container{
    width: 60%;
    background: #dbf5be;
    padding: 15px 35px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
@media screen  and (min-width:450px){
    .container{
        width: 17rem;
    }
}
.container section{
    padding: 6px 0;
}