* {
  font-family: Tahoma;
}

p,h1,h2,h3,h4,h5,h6 {
  margin: 0;
}
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button{
  display: none;
}
input[type="date"]{
  cursor: pointer;
}
button{
  padding: 5px 10px;
  outline: none;
  border: none;
  background: #3e5227;
  color: snow;
  cursor: pointer;
  transition: 0.75s;
}
button:disabled{
  cursor: not-allowed;
  background: lightgray !important;
}
button:hover{
  transform: scale(1.025);
  background: #566e39;
}
.text-center{
  text-align: center;
}